{% extends "index_template.html" %}
{% block body %}
<div class="container" id="call" style="align-items: center; width: 1800px; height: 400px; "></div>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById("call"));
    var option = {
        title: {
            text: "NFS Call",
            subtext: "单位：次",
            left: 'left',
        },
        legend: {
            data: ['call', 'retrans'],
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                label: {
                    backgroundColor: '#6a7985'
                }
            }
        },
        xAxis: {
            type: 'category',
            data: JSON.parse('{{ timestamp_list|tojson }}')
        },
        yAxis: {
            type: 'value',
        },
        series: [
            {
                data: JSON.parse('{{ nfs_data["call"]|tojson }}'),
                name: 'call',
                type: 'line',
                smooth: true,
                showSymbol: false,
                label: {
                    normal: {
                        show: false,
                        position: 'top',
                    }
                }
            },
            {
                data: JSON.parse('{{ nfs_data["retrans"]|tojson }}'),
                name: 'retrans',
                type: 'line',
                smooth: true,
                showSymbol: false,
                label: {
                    normal: {
                        show: false,
                        position: 'top',
                    }
                }
            },
        ],
        dataZoom: [{
            type: 'slider',
            start: 0,
            end: 100
        }, {
            type: 'inside',
            start: 0,
            end: 100
        }],
    };
    myChart.setOption(option);
</script>

<div class="container" id="readwrite" style="align-items: center; width: 1800px; height: 400px; "></div>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById("readwrite"));
    var option = {
        title: {
            text: "NFS Read/Write",
            subtext: "单位：次",
            left: 'left',
        },
        legend: {
            data: ['read', 'write'],
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                label: {
                    backgroundColor: '#6a7985'
                }
            }
        },
        xAxis: {
            type: 'category',
            data: JSON.parse('{{ timestamp_list|tojson }}')
        },
        yAxis: {
            type: 'value',
        },
        series: [
            {
                data: JSON.parse('{{ nfs_data["read"]|tojson }}'),
                name: 'read',
                type: 'line',
                smooth: true,
                showSymbol: false,
                label: {
                    normal: {
                        show: false,
                        position: 'top',
                    }
                }
            },
            {
                data: JSON.parse('{{ nfs_data["write"]|tojson }}'),
                name: 'write',
                type: 'line',
                smooth: true,
                showSymbol: false,
                label: {
                    normal: {
                        show: false,
                        position: 'top',
                    }
                }
            },
        ],
        dataZoom: [{
            type: 'slider',
            start: 0,
            end: 100
        }, {
            type: 'inside',
            start: 0,
            end: 100
        }],
    };
    myChart.setOption(option);
</script>

<div class="container" id="access" style="align-items: center; width: 1800px; height: 400px; "></div>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById("access"));
    var option = {
        title: {
            text: "NFS Access",
            subtext: "单位：次",
            left: 'left',
        },
        legend: {
            data: ['access'],
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                label: {
                    backgroundColor: '#6a7985'
                }
            }
        },
        xAxis: {
            type: 'category',
            data: JSON.parse('{{ timestamp_list|tojson }}')
        },
        yAxis: {
            type: 'value',
        },
        series: [
            {
                data: JSON.parse('{{ nfs_data["access"]|tojson }}'),
                name: 'access',
                type: 'line',
                smooth: true,
                showSymbol: false,
                label: {
                    normal: {
                        show: false,
                        position: 'top',
                    }
                }
            },
        ],
        dataZoom: [{
            type: 'slider',
            start: 0,
            end: 100
        }, {
            type: 'inside',
            start: 0,
            end: 100
        }],
    };
    myChart.setOption(option);
</script>
{% endblock %}