{% extends "index_template.html" %}
{% block body %}

{{ network_data}}
{% for iface in network_data %}
{% set keys_list = network_data[iface].keys()|list %}
<div class="container" id="{{ iface }}" style="align-items: center; width: 1800px; height: 400px; "></div>
<script type="text/javascript">
  var myChart = echarts.init(document.getElementById("{{ iface }}"));
  var option = {
        title: {
            text: "网卡繁忙度({{ iface }})",
            subtext: "单位：%",
            left: 'left',
        },
        legend: {
            data: {{ keys_list|safe }},
        },
        xAxis: {
            type: 'category',
            data: JSON.parse('{{ timestamp_list|tojson }}')
        },
        yAxis: {
            type: 'value',
            },
        series: [
            {
            data:{{ network_data[iface][i] }},
            name: '{{ i }}',
            type: 'line',
            label: {
                normal: {
                    show: true,
                    position: 'top'
                }
            }
        },
        {% endfor %}
    ],
        dataZoom: [{
            type: 'slider',
            start: 0,
            end: 100
        }, {
            type: 'inside',
            start: 0,
            end: 100
        }],
    };
    myChart.setOption(option);
  </script>
{% endblock %}